<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{ student.avatar_url }}">
  </div>
</div>

<div class="item">
  <div>Estudante</div>
  <div>
    <input 
      type="text" 
      name="name" 
      value="{{ student.name }}">
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email"  
      value="{{ student.email }}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ student.birth }}">
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input 
        type="radio" name="gender" value="M" 
        {% if student.gender == "M" %}
          checked
        {% endif %}>Masculino
    </span>
    <span>
      <input 
        type="radio" name="gender" value="F" 
        {% if student.gender == "F" %} 
          checked 
        {% endif %}>Feminino
    </span>
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="grade">
      <option value="5AEF" {% if student.carga == "5AEF "%} selected {% endif %}>5º Ano do Ensino Fundamental</option>
      <option value="6AEF" {% if student.carga == "6AEF "%} selected {% endif %}>6º Ano do Ensino Fundamental</option>
      <option value="7AEF" {% if student.carga == "7AEF "%} selected {% endif %}>7º Ano do Ensino Fundamental</option>
      <option value="8AEF" {% if student.carga == "8AEF "%} selected {% endif %}>8º Ano do Ensino Fundamental</option>
      <option value="9AEF" {% if student.carga == "9AEF "%} selected {% endif %}>9º Ano do Ensino Fundamental</option>
      <option value="1AEM" {% if student.carga == "1AEF "%} selected {% endif %}>1º Ano do Ensino Medio</option>
      <option value="2AEM" {% if student.carga == "2AEF "%} selected {% endif %}>2º Ano do Ensino Medio</option>
      <option value="3AEM" {% if student.carga == "3AEF "%} selected {% endif %}>3º Ano do Ensino Medio</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga Horaria Semanal</div>
  <div>
    <input 
      type="number" 
      name="workload"
      value="{{ student.workload }}">
  </div>
</div>

<button type="submit">Salvar</button>