<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{ student.avatar_url }}">
  </div>
</div>

<div class="item">
  <div>Estudante</div>
  <div>
    <input 
      type="text" 
      name="name" 
      value="{{ student.name }}">
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email"  
      value="{{ student.email }}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ student.birth }}">
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input 
        type="radio" name="gender" value="M" 
        {% if student.gender == "M" %}
          checked
        {% endif %}>Masculino
    </span>
    <span>
      <input 
        type="radio" name="gender" value="F" 
        {% if student.gender == "F" %} 
          checked 
        {% endif %}>Feminino
    </span>
  </div>
</div>

<div class="item">
  <div>Tipo sanguíneo</div>
  <div>
    <select name="blood">
      <option value="A-" {% if student.blood == "A-" %} selected {% endif %}> A- </option>
      <option value="A+" {% if student.blood == "A+" %} selected {% endif %}> A+ </option>
      <option value="B-" {% if student.blood == "B-" %} selected {% endif %}> B- </option>
      <option value="B+" {% if student.blood == "B+" %} selected {% endif %}> B+ </option>
      <option value="AB-" {% if student.blood == "A0-" %} selected {% endif %}> AB -</option>
      <option value="AB+" {% if student.blood == "AB+" %} selected {% endif %}> AB +</option>
      <option value="O-" {% if student.blood == "O-" %} selected {% endif %}> O- </option>
      <option value="O+" {% if student.blood == "O+" %} selected {% endif %}> O+ </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Peso(kg)</div>
  <div>
    <input 
      type="number" 
      name="weight"
      value="{{ student.weight }}">
  </div>
</div>

<div class="item">
  <div>Altura(cm)</div>
  <div>
    <input 
      type="number" 
      name="height"
      value="{{ student.height }}">
  </div>
</div>

<button type="submit">Salvar</button>