{% extends "layout.njk" %}

{% block content  %}

  <div class="card">
    <section 
      class="avatar"
      style="background-image: url({{ student.avatar_url }})"
    >
    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Estudante</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Aniversario</div>
        <div>{{ student.birth }}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{ "Masculino" if student.gender == "M" else "Feminino" }}</div>
      </div>

      <div class="item">
        <div>Tipo Sanguínero</div>
        <div>{{ student.blood }}</div>
      </div>

      <div class="item">
        <div>Peso(Kg)</div>
        <div>{{ student.weight }}</div>
      </div>

      <div class="item">
        <div>Altura(cm)</div>
        <div>{{ student.height }}</div>
      </div>

      <a href="/students/{{ student.id }}/edit" class="button">Editar</a>
    </section>
  </div>

{% endblock content %}