{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">

    <div class="header">
      <a href="/students/create">Adicionar Novo</a>

      <form action="/students" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Nome"
          value="{{ filter }}"
        >

        <button type="submit">Pesquisar</button>
      </form>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th>Estudante</th>
          <th>Email</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
         {% for student in students %}
          <tr>
            <td>
            <span style="background-image: url({{ student.avatar_url }})"></span>
              {{ student.name }}
            </td>
            <td>{{ student.email }}</td>
            <td><a href="/students/{{ student.id }}">Ver</a></td> {# Botão de ação #}
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
{% endblock content %}
