{% extends "layout.njk" %}

{% block content  %}

  <div class="card">
    <section 
      class="avatar"
      style="background-image: url({{ students.avatar_url }})"
    >
    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Estudante</div>
        <div>{{ students.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ students.email }}</div>
      </div>

      <div class="item">
        <div>Aniversario</div>
        <div>{{ students.birth }}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{ "Masculino" if students.gender == "M" else "Feminino" }}</div>
      </div>

      <div class="item">
        <div>Ano Escolar</div>
        <div>
          {% if students.grade == "5AEF" %}
            5º Ano do Ensino Fundamental
          {% elseif students.grade == "6AEF" %}
            6º Ano do Ensino Fundamental
          {% elseif students.grade == "7AEF" %}
            7º Ano do Ensino Fundamental
          {% elseif students.grade == "8AEF" %}
            8º Ano do Ensino Fundamental
          {% elseif students.grade == "9AEF" %}
            9º Ano do Ensino Fundamental
          {% elseif students.grade == "1AEM" %}
            1º Ano do Ensino Medio
          {% elseif students.grade == "2AEM" %}
            2º Ano do Ensino Medio
          {% else %}
            3º Ano do Ensino Medio
          {% endif %}
        </div>
      </div>

      <div class="item">
        <div>Carga Horaria</div>
        <div>{{ students.workload }}</div>
      </div>

      <a href="/students/{{ students.id }}/edit" class="button">Editar</a>
    </section>
  </div>

{% endblock content %}