{% extends "layout.njk" %}

{% block content  %}

  <div class="card">
    <section 
      class="avatar"
      style="background-image: url({{ student.avatar_url }})"
    >
    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Estudante</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Aniversario</div>
        <div>{{ student.birth }}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{ "Masculino" if student.gender == "M" else "Feminino" }}</div>
      </div>

      <div class="item">
        <div>Ano Escolar</div>
        <div>
          {% if student.grade_school == "5AEF" %}
            5º Ano do Ensino Fundamental
          {% elseif student.grade_school == "6AEF" %}
            6º Ano do Ensino Fundamental
          {% elseif student.grade_school == "7AEF" %}
            7º Ano do Ensino Fundamental
          {% elseif student.grade_school == "8AEF" %}
            8º Ano do Ensino Fundamental
          {% elseif student.grade_school == "9AEF" %}
            9º Ano do Ensino Fundamental
          {% elseif student.grade_school == "1AEM" %}
            1º Ano do Ensino Medio
          {% elseif student.grade_school == "2AEM" %}
            2º Ano do Ensino Medio
          {% else %}
            3º Ano do Ensino Medio
          {% endif %}
        </div>
      </div>

      <div class="item">
        <div>Carga Horaria</div>
        <div>{{ student.workload }} horas</div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ student.created_at }}</div>
      </div>

      <div class="item">
        <div>Aluno de</div>
        <div>{{ student.teacher_name }}</div>
      </div>

      <a href="/students/{{ student.id }}/edit" class="button">Editar</a>
    </section>
  </div>

{% endblock content %}