<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{ teacher.avatar_url }}">
  </div>
</div>

<div class="item">
  <div>Professor</div>
  <div>
    <input 
      type="text" 
      name="name" 
      value="{{ teacher.name }}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ teacher.birth }}">
  </div>
</div>

<div class="item">
  <div>Grau de Escolaridade</div>
  <div>
    <select name="nivel">
      <option value="medio">Ensino Medio</option>
      <option value="superior">Ensino Superior</option>
      <option value="mestrado">Mestrado</option>
      <option value="doutorado">Doutorado</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Tipo de Aula</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="typeclass" 
        value="P" 
        {% if teacher.typeclass == "P" %}
          checked
        {% endif %}>
        Presencial
    </span>
    <span>
      <input 
        type="radio" 
        name="typeclass" 
        value="D"
        {% if teacher.typeclass == "D" %}
          checked
        {% endif %}>
        Á Distância
    </span>
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
      <input 
        type="text" 
        name="services" 
        value="{{ teacher.services }}">
  </div>
</div>

<button type="submit">Salvar</button>