{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">

    <div class="header">
      <a href="/teachers/create">Adicionar Novo</a>

      <form action="/teachers" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Nome ou Especialidade"
          value="{{filter}}"
        >

        <button type="submit">Pesquisar</button>
      </form>
    </div>

    <table width="100%">
      <thead>
        <tr>
          <th>Professor</th>
          <th>Especialidade</th>
          <th class="table-th-center">Alunos</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
         {% for teacher in teachers %}
          <tr>
            <td>
            <span style="background-image: url({{ teacher.avatar_url }})"></span>
              {{ teacher.name }}
            </td>
            <td>{{ teacher.services }}</td>
            <td class="table-td-center">{{ teacher.total_students }}</td>
            <td><a href="/teachers/{{ teacher.id }}">Ver</a></td>
          </tr>
        {% endfor %} 
      </tbody>
    </table>

    <div class="pagination-container">
      <div class="pagination" 
        data-page={{pagination.page}} 
        data-total={{pagination.total}}
        data-filter={{filter}}>
      </div>
    </div>
  </div>
{% endblock content %}
