{% extends "layout.njk" %}

{% block content  %}

  <div class="card">
    <section 
      class="avatar"
      style="background-image: url({{ teachers.avatar_url }})"
      
    >
      <!--style="background: url({{ teachers.avatar_url }}) no-repeate center center / cover"-->
    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>{{ teachers.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ teachers.age }} anos</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
          <div>
            {% if teachers.nivel == "medio" %}
              Ensino Medio
            {% elseif teachers.nivel == "superior" %}
              Ensino Superior 
            {% elseif teachers.nivel == "mestrado" %}
              Mestrado 
            {% else %}
              Doutorado
            {% endif %}
          </div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>{{ "Presencial" if teachers.typeclass == "P" else "Á Distância" }}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for service in teachers.services %}
            <span>{{ service }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ teachers.created_at}}</div>
      </div>

      <a href="/teacherss/{{ teachers.id }}/edit" class="button">Editar</a>
    </section>
  </div>

{% endblock content %}