<!DOCTYPE html>

<html lang='pt-BR'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/sweetalert2@7.12.15/dist/sweetalert2.all.js"></script>
        
        {% block head%}
            <title>Developer School</title>
        {% endblock %}

        <!--CSS-->
        <link rel="stylesheet" href="/style.css">

    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="/teachers">Professor</a>
                <a href="/students" >Estudante</a>
            </div>
        </header>

        {% block content %}{% endblock %}
        
        <!--JAVASCRIPT-->
        <script src="/scripts.js"></script>
    </body>
</html>
